.playlist {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.playlist__input {
  font-size: 1.5em;
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-bottom: 2px solid #1db954;
  background-color: transparent;
  margin-bottom: 10px;
}
.save__btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
